.projects-container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  .group-container {
    background: black;
    text-align: center;
    width: 90%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    box-shadow: 1px 1px 10px rgba(46, 130, 236, 0.5);
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: rgba(46, 130, 236);
    }
  }
}
@media (min-width: 482px) and (max-width: 1024px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 481px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
