.create-group-container {
  width: 80%;
  min-height: 100vh;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .info-box {
    width: 60%;
    min-height: 60vh;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161414;
    border-radius: 15px;
    font-size: 1.25rem;
    box-shadow: 1px 1px 10px rgba(46, 130, 236, 0.5);
    .group-name {
      margin-top: 10%;
      border: none;
      width: 40%;
      height: 6vh;
      padding: 0 2%;
      background-color: transparent;
      border-bottom: 2px solid #2e82ed;
      color: white;
      transition: border-radius 300ms ease-in-out;
      &:focus,
      &:active {
        outline: none;
        border: 2px solid #2e82ed;
        border-radius: 50px;
      }
    }

    .student {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #2e82ed;
      width: 50%;
      margin: 1% 0;
      padding: 0 2%;
      height: 2em;
      border-radius: 50px;
      .btn-student-container {
        width: 30%;
        display: flex;
        justify-content: space-between;
        .btn-student {
          font-size: 0.9em;
          width: 50%;
          height: 100%;
          border: none;
          background-color: transparent;
          color: white;
          cursor: pointer;
        }
      }
    }
    .student-name-wrapper {
      display: flex;
      justify-content: center;

      width: 90%;
      height: 7vh;
      margin: 5% 0;

      .student-name {
        width: 45%;
        border: none;
        color: inherit;
        background-color: transparent;
        border-bottom: 2px solid #2e82ed;
        transition: border-radius 300ms ease-in-out;
        padding-left: 2%;
        &:focus,
        &:active {
          outline: none;
          border: 2px solid #2e82ed;
          border-right: none;
          border-radius: 50px 0 0 50px;
        }
      }

      .student-button {
        width: 10%;
        background-color: transparent;
        color: #2e82ed;
        border: 2px solid #2e82ed;
        border-left: none;
        border-radius: 0 50px 50px 0;
        transition: all 300ms ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: #2e82ed;
          color: white;
        }
      }
    }

    .name-error {
      margin-top: 2%;
      color: #ff5630;
    }
  }
  .color-wrapper {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    .color {
      border-radius: 50%;
      width: 4em;
      height: 4em;

      border: none;
      outline: none;
      margin-right: 5%;
      //
      &::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
      }
      &::-webkit-color-swatch-wrapper {
        padding: 0;
        border: none;
      }
    }
    .color-meaning {
      width: 40%;
      border: none;
      color: inherit;
      background-color: transparent;
      border-bottom: 2px solid #2e82ed;
      transition: border-radius 300ms ease-in-out;
      padding-left: 2%;
      &:focus,
      &:active {
        outline: none;
        border: 2px solid #2e82ed;
        border-left: none;
        border-radius: 0 50px 50px 0;
      }
    }
  }
  .btn-final {
    width: 60%;
    height: 8vh;
    font-size: 1.05em;
    background-color: transparent;
    color: #2e82ed;
    border: 2px solid #2e82ed;
    margin-bottom: 5%;
    border-radius: 50px;
    transition: all 300ms ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: #2e82ed;
      color: white;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .progress {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .progress-line-container {
      width: 60%;
      height: 2.5rem;
      border: 1px solid #2e82ed;
      border-radius: 50px;
      padding: 1%;
      display: flex;
      align-items: center;

      .progress-line {
        width: 0;
        height: 100%;
        border-radius: 50px;
        background-color: #2e82ed;
        transition: width 300ms ease-in-out;
      }
    }
    .btn-progress {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.6%;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #2e82ed;
      color: #2e82ed;
      cursor: pointer;
      font-size: 1.5em;
      font-weight: 900;
      transition: background-color 300ms ease-in-out;

      &:hover:not(.disabled) {
        background-color: rgba(46, 130, 236, 1);
        color: white;
      }
    }

    .disabled {
      cursor: not-allowed;
      color: #2e81ed66;
      border-color: #2e82ed66;
    }
  }
}
@media (min-width: 482px) and (max-width: 1024px) {
  .create-group-container {
    .info-box {
      width: 80%;
      .student {
        background-color: #2e82ed;
        width: 60%;
        padding-left: 5%;
      }
      .student-name-wrapper {
        width: 100%;
        height: 6vh;
        .student-button {
          width: 20%;
        }
      }
      .color-wrapper {
        .color-meaning {
          width: 50%;
        }
      }
    }

    .progress {
      width: 80%;

      .progress-line-container {
        width: 60%;
      }
    }
  }
}
@media (max-width: 481px) {
  .create-group-container {
    .info-box {
      width: 100%;
      .student {
        background-color: #2e82ed;
        width: 60%;
        padding-left: 5%;
        .btn-student-container {
          .btn-student {
            width: 55%;
          }
        }
      }
      .student-name-wrapper {
        width: 100%;
        height: 6vh;
        .student-button {
          width: 20%;
        }
        .student-name {
          width: 50%;
        }
      }
      .color-wrapper {
        .color {
          margin-right: 5%;
        }
        .color-meaning {
          width: 60%;
        }
      }
    }
    .progress {
      width: 90%;

      .progress-line-container {
        width: 60%;
      }
    }
  }
}
